.footer {
    background: #12406F;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.globe-bg {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url('../../assets/globe.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.footer-container {
    position: relative;
    z-index: 2;
}

.footer-center {
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.footer-section {
    width: 33.33%;
}

.footer-section h3 {
    position: relative;
    z-index: 5;
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
}

.footer-section p {
    font-size: 14px;
    opacity: 0.9;
    margin: 4px 0;
    line-height: 1.5;
}

.social-icons {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    gap: 24px;
    font-size: 26px;
    margin-top: 10px;
    z-index: 5;
}

.follow-section h3 {
    text-align: center;
}

.office-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.office-icon {
    position: relative;
    z-index: 5;
    font-size: 20px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #002F5F;
    text-align: center;
    padding: 18px 0;
    font-size: 14px;
    opacity: 0.85;
}

@media (max-width: 900px) {
    .footer-center {
        padding: 40px 20px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .footer-section {
        width: 45%;
        text-align: center;
    }

    .office-item {
        justify-content: center;
        text-align: left;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 40px 20px;
    }

    .footer-center {
        padding: 20px 0;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .footer-section {
        width: 100%;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
        gap: 18px;
        flex-wrap: wrap;
    }

    .office-item {
        justify-content: center;
    }
}